.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
   } 
   .header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
   } 
  
   .logo{
    font-size: 25px;
    text-decoration: none;
    font-weight: 700;
    padding: 12px 35px;
    background: hsl(38, 61%, 73%);
    border-radius: 80px;
    font-size: 20px;
    color: #222222;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    box-shadow: 0 0 10px hsl(38, 61%, 73%);
    transition: .5s;
   }
  
   .navabar a{
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transform: .3s;
   }
   
   .navabar a:hover{
   }
   .navabar a.active {
    color: #00abf0;
   }
   .span{
    font-size: 20px;
    color: transparent;
    -webkit-text-stroke: .5px hsl(38, 61%, 73%);
   }
  

   section {
    padding: 60px 0;
    overflow: hidden;
}

.section-bg {
    background-color: hsla(0, 0%, 0%, 0.25);
}

.section-title {
    padding-bottom: 30px;
}




/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
#contact{
    background-color: #36343a;
}
.contact .info {
    padding: 30px;
    width: 100%;
    background:  hsla(0, 0%, 0%, 0.25);
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.contact .info i {
    font-size: 20px;
    color: #222222;
    float: left;
    width: 44px;
    height: 44px;
    background:  hsl(38, 61%, 73%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

.contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #fff;
}

.contact .info p {
    padding: 0 0 0 60px;
    margin-bottom: 0;
    font-size: 14px;
    color: #fff;
}
.contact .ii h2 {
    font-size: 30px;
    color: #fff;
}

.contact .ii p{
    font-size: 15px;
    color:#e9e8e6;
}
.contact .php-email-form {
    width: 100%;
    padding: 30px;
    background: hsla(0, 0%, 0%, 0.25);
    box-shadow: 0 0 24px 0 rgba(10, 10, 10, 0.12);
}

.contact .php-email-form .form-group {
    padding-bottom: 8px;
}

.contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .error-message br+br {
    margin-top: 25px;
}

.contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
}

.contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
}

.contact .php-email-form input {
    height: 44px;
}

.contact .php-email-form textarea {
    padding: 10px 12px;
}
.contact .php-email-form button[type=submit] {
    background: hsl(38, 61%, 73%);
    border: 0;
    padding: 10px 30px;
    color: #121111;
    transition: 0.4s;
    border-radius: 50px;
}

.contact .php-email-form button[type=submit]:hover {
    background: hsl(38, 61%, 73%);
}

@-webkit-keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.ftr{
    background: #e9e8e6;
    padding: 30px 20px;
    color: #222222;
    font-size: 18px;
    text-align: center;
    padding-top: 5px;
    font-size: 15px;

}

